body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px gray solid;
  width: 200vh;
}

nav a {
  color: rgb(0, 0, 0);
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
}

section {
  margin-bottom: 50px;
  padding-top: 50px;
}

footer {
  background-color: #ffffff;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 1px gray solid;
}

footer a {
  color: rgb(0, 0, 0);
  margin: 0 10px;
  text-decoration: none;
}

footer img {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.blogcard{
  width: 300px;
  height: 530px;
  border: rgb(193, 193, 193) 1px solid;
  border-radius: 20px;
}

.cardimage{
  width: 300px;
  height: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.textcard{
  text-align: left;
  justify-content: left;
  margin: 10px;
}

.submitb{
  background-color: #ffffff;
  width: 144px;
  height: 37px;
  border-radius: 20px;
  cursor: pointer;
}

.projcard{
  width: 300px;
  height: 530px;
  border: rgb(193, 193, 193) 1px solid;
  border-radius: 20px;
}

.formbody{
  border: 1px, black, solid;
  border-radius: 20px;
  height: 400px;
  padding-top: 50px;
}

.textbox{
  
}