.nav {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px gray solid;
  width: 200vh;
}

.nav__link {
  color: rgb(0, 0, 0);
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

.nav__link:hover {
  text-decoration: underline;
}